* {box-sizing: border-box}


body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:sans-serif;
  background-image: url('img/reg.jpg'); 
  background-size: cover;
}

/* Add padding to containers */



.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(241, 183, 113);
  box-sizing: border-box;
  border-radius: 28px;
  background-color:rgb(252, 236, 218);
 
  }

  .container
{
  max-width: 20%;
  text-align:center;
  align-items:center;
}

h1 {
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI',
   Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(172, 97, 6);
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid rgb(241, 183, 113);
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  color: rgb(3, 0, 0);
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 28px;
  background-color: rgb(241, 183, 113);
}
.registerbtn:hover {
  opacity:1;
}


.registerbtn:hover {
    opacity: 0.8;
  }

/* Add a blue text color to links */
a {
  color: rgb(172, 97, 6);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}